# System
.DS_Store
*.log

# Editor
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node (if ever needed for local tools)
node_modules/

# Vercel
.vercel/

# Temporary
tmp/
*.local
