/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

 .loader line, .loader polyline {
    stroke-dasharray: 80;
    stroke-dashoffset: 100;
    animation: draw 1s ease-in alternate;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }